body {
  background: linear-gradient(#fcfcfc, #d2d2d2);
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  letter-spacing: 2px;
  font-size: 20px;
}

header {
  box-shadow: 5px 2px 30px #00000048;
  background: #8c7ae6;
  padding: 50px 0px;
  padding-bottom: 10px;
  width: 60%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  word-spacing: 20px;
  margin: 0px;
}

p.vision {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 4px;
  color: #8c7ae6;
  background: white;
  padding: 0px 8px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

p.bottom {
  margin-top: auto;
  color: #f0f0f0;
}

a {
  color: white;
}

/* Shapes */

.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
}

.circle-1 {
  background-color: #eeeeee;
  top: 50%;
  left: 30%;
}
.circle-2 {
  background-color: #e2dea9;
  top: 70%;
  left: 50%;
}
.circle-3 {
  background-color: #fdebf7;
  top: 80%;
  left: 76%;
}
.circle-4 {
  background-color: #c7b198;
  top: 30%;
  left: 90%;
}
.circle-5 {
  background-color: #ffab4c;
  top: 10%;
  left: 30%;
}
.circle-6 {
  background-color: #ffab4c;
  bottom: 10%;
  right: 30%;
}
.circle-7 {
  background-color: #ffab4c;
  bottom: 80%;
  right: 76%;
}
.circle-8 {
  background-color: #ffab4c;
  top: 70%;
  right: 80%;
}
.circle-9 {
  background-color: #ffab4c;
  bottom: 50%;
  right: 30%;
}
.circle-10 {
  background-color: #ffab4c;
  bottom: 45%;
  right: 10%;
}
.circle-11 {
  background-color: #ffab4c;
  bottom: 23%;
  left: 30%;
}
.circle-12 {
  background-color: #ffab4c;
  bottom: 74%;
  left: 30%;
}
